<!-- <p><%= current_user.profile.inspect %></p> -->
<p>活動エリア：<%#= current_user.profile.active_area %></p>
<!-- <p>性　別：<%#= current_user.profile.sex %></p>
<p>年齢層：<%#= current_user.profile.birthday %></p>
<p>競　技：<%#= current_user.profile.sports %></p>
<p>参加レベル：<%#= current_user.profile.level %></p>
<p>戦　績：<%#= current_user.profile.battle_record %></p>
<p>経　歴：<%#= current_user.profile.career %></p> -->