<ul>
  <%# postから 7日以内 && すでにpostに対して評価していなかったら  %>
  <%# if @posts.since(7.days) && !current_user.has_make_point?(@post) %>
    <% @posts.each do |post| %>
        <li><%= post.inspect %><%= link_to "評価対象の参加者一覧へ", finished_users_user_path(@user, post_id: post.id) %></li>
    <% end %>
  <%# end %>
  <%# end %>
</ul>