
<h2><%= @post.title %>の承認プレイヤー一覧</h2>

<ol>
  <% @relation_users.each do |user| %>
    <% if user.unsubscribe? %>
      <li><%= user.name %><span class="label label-danger">退会したユーザー</span></li>
    <% else %>
      <li><%= user.name %></li>
    <% end %>
  <% end %>
</ol>


<%= link_to "募集管理画面に戻る", post_users_user_path(current_user) %>
