/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.center {
  text-align: center;
}

.navbar {
  background: radial-gradient(#ffffff, #0000ff);
}

.navbar-brand small {
  position: relative;
  bottom: 30%;
  color: #ff0000;
  font-size: 23px;
  font-family: monospace;
  font-weight: bold;
}

.navbar .navbar-brand {
  color: #ffffff;
  font-size: 300%;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%)
}

.navbar .navbar-nav > li > a {
  color: #ffffff;
}

.message1 {
  font-size: 150%;
  color: #0000ff;
  font-weight: bold;
}

.message2 {
  font-size: 130%;
}

.under {
  background: linear-gradient(transparent 50%, #ffff00 50%);
}